# dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# next.js / build
.next/
out/
dist/
coverage/
.vite/

# firebase / vercel / misc
.firebase/
.firebaserc.local
.vercel/
*.log
firebase-debug.log
firestore-debug.log

# env & secrets
.env
.env.*
*.env
*.pem
*.p12
*.keystore
*.jks

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/
